@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: blue;
}

a::before {
    content: "➔";
}

a:active {
    background-color: #e8e8e8;
}

input:checked {
width: 100px;
height: 100px;
}
/* input {
    border: 1px solid red;
    color: blue;
}

input::placeholder {
    color: #ff1396;
}

p::first-letter {
    color: blue;
} */